body {
  font-family: Tahoma, sans-serif;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Logo {
  width: 100%;
}

a {
  text-decoration: none;
}

.buttons {
  width: 200px;
  display: inline;
}

.action_btn {
  width: 200px;
  display: inline;
  background-color: white;
}

#RequestBtn {
  margin-top: 10%;
}

#FulfillLink {
  margin-left: 20%;
}

/* Source: https://codepen.io/codyhouse/pen/bGqLrGj */
.btn-gradient-1 {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, crimson, tomato) 1;
}

/* method 2 -> use background-clip to support border-radius */
.btn-gradient-2 {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, crimson, tomato) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

/* demo stuff */
.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-gradient-1,
.btn-gradient-2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: darkred;
  padding: 0.5rem 1rem;
  cursor: pointer;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1000px) {
  #RequestBtn {
    margin-right: 0px;
  }

  #FulfillBtn {
    margin-top: 10px;
  }

  #FulfillLink {
    margin-left: 0%;
  }
}