<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/pages/welcome.css" />
    <meta charset="UTF-8" />
    <title>SCU Dining Points Exchange</title>
    <link rel="icon" href="https://cdn.glitch.global/044506bb-74de-4296-a49f-2556041e44b7/app%20icon%201%20cropped.png?v=1676784768704">
  </head>
  
  <body>
    
    <div>
      <a href="https://pointswap.glitch.me/pages/aboutus.html">
      <img id="Logo" src="https://cdn.glitch.global/40a92300-6787-4692-8c86-1a201796556b/homepage%20transparent.png?v=1688694354591" alt="SCU Dining Pts Logo">
      </a>
        
      <a id="RequestLink" href="/pages/makerequest.html">
      <button name="submit" class="action_btn btn-gradient-1" type="submit" id="RequestBtn" value="MakeRequest" onclick="myFunction()">Make a request</button>
      </a>

      <a id="FulfillLink" href="/pages/fulfillrequest.html">
      <button name="submit" class="action_btn btn-gradient-2" type="submit" id="FulfillBtn" value="FulfillRequest" onclick="myFunction2()">Fulfill a request</button>
      </a>
        
    </div>

  </body>
</html>
